#heure {
    background: #000;
    height: 10%;
    left: 50%;
    position: absolute;
    top: 53%;
    transform-origin: 50% 100%;
    width: 0.5%;
  }
  #minute {
    background: #000;
    height: 15%;
    left: 50%;
    position: absolute;
    top: 53%;
    transform-origin: 50% 100%;
    width: 0.3%;
  }
  #seconde {
    background: #000;
    height: 20%;
    left: 50%;
    position: absolute;
    top: 53%;
    transform-origin: 50% 80%;
    width: 0.2%;
    z-index: 8;
  }
#image {
    width: 600px;
    height: 600px;
}
#cadrant {
    position: absolute;
    transform-origin: 50% 100%;
    top: 20%;
    left: 34.5%;
}