body {background-color:#2d2d2d;}

#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align:left;
  width: 50%;
  margin: 40px auto;
  color:#fff;
  border-left: 3px solid #ed1f24;
  padding: 20px;
} 

#alarme {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align:left;
  width: 50%;
  margin: 40px auto;
  color:#fff;
  border-left: 3px solid #ffffff;
  padding: 20px;
}

#alarmeinit {
  text-align: center;
 
}
.bouton {
  color: rgb(136, 5, 5);
  font-weight: bold;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: solid black;
  background-color: rgb(169, 169, 169);
  text-align: center;
  display: inline-block;
  transition-duration: 0,5s;
  cursor: pointer;
  font-family: 'Indie Flower', 'Comic Sans', cursive;
  text-transform: uppercase;
}
.bouton:hover {
  color: rgb(8, 133, 4);
  transition-duration: 0,5s;
  border: 2px solid rgb(0, 0, 0);
}
input[type=number] {
  appearance: textfield;
  color: #ffffff;
  background-color: #2d2d2d;
  text-align: center;
}